<%# <p id="notice"><%= notice %>
<div class="board">
<h1 id="category-title"><%= @category.title%> </h1>
<p id="to-do">To-Do List</p>
<div class= "task-button">
  <%= link_to 'Add Task', new_category_task_path(@category, @task), class:"add-category"%>
</div>
</div>

<div class="back-container">
  <%= link_to 'Back', root_path, class:"back-button" %>
</div> 

<div class= "table-task">
  <table class="task-container">
  <tbody class ="task_details">
    <% @category.tasks.each do |task| %>
      <tr class= "each_task">
      <td class="ct-options">
        <%= link_to image_tag('edit.png'),edit_category_task_path(@category, task), id:"edit" %>
        <%# <td><%= link_to 'View Tasks', category_tasks_path(category)%> 
        <%= link_to image_tag('delete.png'),category_task_path(@category, task), method: :delete, data: { confirm: 'Are you sure?' }%> 
      </td>

          <td class="task-holder">
            <p id="task-title"> <%= task.title %><p id="task-title">
            <p id="task-due"><%= task.due %></p>
            <br>
            <p id="task-details"><%= task.details %></p>
          </td>
        </tr>
        <%# <td><%= link_to 'Show', category_task_path(@category, task) %>
        </tr>
    <% end %>
    
  </tbody>
</table>

</div>

