<div class= "user_entry">
  <%=image_tag "alexa.png", id:"logo-brand-intro"%>
  <p class ="intro">Great things start with a plan.</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="tick-box">
      <%= f.check_box :remember_me %>

      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <div id="action-container">
    <%= f.submit "Log in" %>
  </div>


<% end %>

  
</div>

<div class="session-links">
    <%= render "users/shared/links" %>
</div>