
<div class="board">
  <h1 id="category-title">Tasks Due Today <%= Date.today %> </h1>

  <div class="back-container">
  <%= link_to 'Back', root_path, class:"back-button" %>
  </div> 
</div> 



<br>
<div class= "table-task">
<table class="task-container">
<tbody class ="task_details">
    <% @categories.each do |category| %>
      <% category.tasks.where(due: Date.today).each do |task| %>
      <tr class= "each_urgent_task">
        <td class="task-holder">
          <p id="task-title"><%= task.title %></p>
          <p id="task-due"><%= task.details %></p>
          <p id="task-details">Category: <%= category.title %></p>
        </td>
      </tr>
    <% end %>

    

      
    <% end %>

  </tbody>
</table>

